<%# <% provide(:title, "Home") %>

<%# <div class="container square-box d-flex justify-container-center"> %>
<div class="container justify-container-center text-center">
  <h1>Welcom to the Twitter application</h1>

  <h2>
    This is the home page for 
    <a href="https://www.google.ru/?gws_rd=ssl">Ruby on Rails Tutorial</a>
    sammple application.
  </h2>

  <%= link_to "Sing up now!", root_path, class: "btn btn-primary" %>
</div>

<div class="text-center" id="image-link">
  <%# Правильно: image_tag("logo/4223.png"... , а не image_tag("/logo/4223.png"... !!! Это очень важно %>
  <%= link_to image_tag("logo/4223.png", size: "100x100", alt: "Rails logo"), "http://rubyonrails.org/", class: "rounded mx-auto d-block" %>
</div>
